html, body, root{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font: optional;/*to charge system fonts if is too slow render*/
    width: 100%;
    height: 100vh;
    /* background: lightblue; */
}

#layoutUser{
    height: 100vh;
    width: 100%;
    background: lightblue;
}

#header{
    height: 10%;
}

#content {
    overflow: auto;
    height: 75%;
}

#footer{
    height: 15%;
}

.row{
    margin: 0%;
    padding: 0%;
}

.col-10{
    justify-content: center;
}

/*------------- tittles--------------- */
h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

/*-----------------------*/
/* Start Quiz styles */
#logo {
    width: 75px;
    height: 100px;
}

.col-10 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}